
        .btn-peach {
            background-color: #F7A98F !important;
            border: none !important;
            color: white !important;
            padding: 12px;
            font-size: 1rem;
            border-radius: 6px;
            width: 100%;
            display: block;
            margin: 0 auto;
        }
        .btn-peach:hover {
            background-color: #e98a6f !important;
        }
        body {
            background-color: #FCE7DF;
            background-image: url('CSS/assets/BG_1.png');
            background-repeat: no-repeat;
            background-size: cover;
            font-family: 'Segoe UI', sans-serif;
        }